{% extends "base.html" %}

{% block title %} - About{% endblock %}

{% block content %}
  <h1>About Systers</h1>
  <hr>
  <img class="img-responsive" src="http://placehold.it/1200x300" width="100%">
  <div class="spacer"></div>
  <p class="lead">Systers is an international community of 3,000 women involved in technical-computing founded by Anita Borg in 1987 as a small electronic mailing list for women in “systems”. Today, Systers broadly promotes the interests of women in the computing and technology fields. Anita created Systers to “increase the number of women in computer science and make the environments in which women work more conducive to their continued participation in the field.” The Systers community serves this purpose by providing women a private space to seek advice from their peers, and discuss the challenges they share as women technologist.</p>
  <div class="spacer"></div>
{% endblock %}

{% block community_name %}Systers{% endblock %}