{% extends "base.html" %}

{% block content %}
  <div class="jumbotron jumbotron-custom">
    <h1>Welcome to Systers Portal!</h1>

    <p class="lead">Systers is the world’s largest email community of women in
      technical roles in computing. Systers Portal is a unified platform for
      Systers
      and its sub-groups to share information and get the latest news.</p>

    <p><a class="btn btn-lg btn-success" href="{% url 'account_signup' %}" role="button">Join Systers</a>
    </p>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Systers Communities</h2>

      <p class="lead">Special Interest communities are those communities where
        Systers can identify themselves culturally to share and offer support in
        challenges within their communities.</p>
      <a href="#"><button type="button" class="btn btn-primary btn-lg">Read more</button></a>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="http://placehold.it/500x300">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-responsive" src="http://placehold.it/500x300">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Systers Initiatives</h2>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A beatae debitis distinctio dolorem doloremque doloribus eius eos, excepturi
        fugiat id iusto nulla numquam reprehenderit sit vitae! Doloremque fugit numquam ut.</p>
      <a href="#"><button type="button" class="btn btn-primary btn-lg">Read more</button></a>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Systers and CRA-W</h2>

      <p class="lead"><a href="http://www.cra-w.org/">CRA-W</a> is the Computing
        Research Association’s (CRA) committee on the Status of Women in Computing
        research. CRA was the founding sponsor of the Institute’s flagship Conference,
        the Grace Hopper Celebration of Women in Computing.</p>
      <a href="#"><button type="button" class="btn btn-primary btn-lg">Read more</button></a>
    </div>
    <div class="col-md-5">
      <img class="img-responsive" src="http://placehold.it/500x300">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-responsive" src="http://placehold.it/500x300">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Systers Technical Interests</h2>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        A beatae debitis distinctio dolorem doloremque doloribus eius eos, excepturi
        fugiat id iusto nulla numquam reprehenderit sit vitae! Doloremque fugit numquam ut.</p>
      <a href="#"><button type="button" class="btn btn-primary btn-lg">Read more</button></a>
    </div>
  </div>

  <div class="spacer"></div>
{% endblock %}

{% block community_name %}Systers{% endblock %}