{% extends "resource_area/base.html" %}
{% block title %}Edit News{% endblock %}
{% block content %}
<div class="hero-unit">
{% if user.is_authenticated and user.is_active and user.is_superuser%}
    <h3>Edit News</h3>
    <br/>
 <div class="container">
{% if news %}
<form id="news_edit_form" method="post" action="/resource_area/edit_news/{{news_id}}"
enctype="multipart/form-data">
{% csrf_token %}
{{ newsform.as_p }}
<input type="submit" name="submit" value="Save" />
</form>
{% else %}
There is no such news
{% endif %}
{% elif   user.is_authenticated and user.is_active %}
<strong > You should be logged in as Super User!! Please login into super user account </h3>
{%else%}
<strong > You should be logged in as Super User!! Please login into super user account by clicking <a href="/accounts/login/">here</a></h3>
{%endif%}
</div>
</div>
{% endblock %}
