{% extends "resource_area/base.html" %}
{% block title %}{{community_name}} News{% endblock %}
{% block content %}
<div class="hero-unit">
{% if user.is_authenticated and user.is_active and user.is_superuser%}
    <h3>News</h3>
    <br/>
<a href="/resource_area/add_news/{{community_name_url}}"> Add News </a> <br>
 <div class="container">
{% if community %}
{% if news_list %}
<ul>
{% for news in news_list %}
<li><a href="/resource_area/view_news/{{news.id}}">{{ news.title }}</a></li>
{% endfor %}
</ul>
{%else%}
There are no news about this community 
{% endif %}
{% else %}
The specified community {{ community_name }} does not exist!
{% endif %}
{% elif   user.is_authenticated and user.is_active %}
<strong > You should be logged in as Super User!! Please login into super user account </h3>
{%else%}
<strong > You should be logged in as Super User!! Please login into super user account by clicking <a href="/accounts/login/">here</a></h3>
{%endif%}
</div>
</div>
{% endblock %}
