{% extends "base.html" %}

{% block title %} - {{ community }} - Add Resource{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
  <div class="spacer"></div>
  <h2>Add Resource to "{{ community }}"</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <form id="resource_add_form" action="{% url 'add_resource' community.slug %}" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add Resource"/>
            <a href="{% url 'show_community_resources' community.slug %}">
              <button type="button" class="btn btn-default">Cancel</button>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block community_name %}{{ community }}{% endblock %}
