{% extends "dashboard/base.html" %}
{% load guardian_tags %}
{% block title %}{{community.name}}{% endblock %}
{% block content %}
<div>
  <h3>{{community.name}}</h3>
  <div>
    {% get_obj_perms request.user for community as "community_perms" %}
    <ul> 
      {% for page in Pages %}
        <li><a href="{% url 'view_page' page.community.slug page.slug %}">{{ page.title }}</a></li>
      {% endfor %}
      <li><a href="{% url 'show_community_news' community.slug %}">News</a></li>
      <li><a href="{% url 'show_community_resources' community.slug %}">Resources</a></li>
      {% if "change_community" in community_perms %}
      <li><a href="{% url 'edit_community_profile' community.slug %}">Edit Community Profile</a></li>
      {% endif %}
      {% if "change_community_page" in community_perms %}
      <li><a href="{% url 'manage_pages' community.slug %}">Manage Pages</a></li>
      {% endif %}
      {# TODO: check if user has permissions for managing users for this community , if yes display the link for managing users else do not display the link #}
  </div>
</div>
{% endblock %}
