{% extends "base.html" %}

{% block title %} - Delete {{ page.title }}{% endblock %}

{% block content %}
  <div>
    <div class="spacer"></div>
    <h2>Delete "{{ page.title }}" of "{{ page.community }}"</h2>
    <hr>

    <p>Are you sure you want to delete it?</p>

    <div class="form-group">
      <a href="{% url 'confirm_delete_page' page.community.slug page.slug %}">
        <button class="btn btn-danger">Yes, I am sure</button>
      </a>
      <a href="{% url 'manage_pages' page.community.slug %}">
        <button class="btn bnt-default">Cancel</button>
      </a><br>
    </div>
  </div>
{% endblock %}

{% block community_name %}{{ page.community }}{% endblock %}

