{% extends "dashboard/base.html" %}
{% block title %}Edit {{ community.name }} Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
  <div class="span5">
    <h3>Edit community "{{ community.name }}" profile</h3>
    <form action="{% url 'edit_community_profile' community.slug %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Submit"/>
      <a href="{% url 'view_community_profile' community.slug %}">Cancel</a>
    </form>
  </div>
  </div>
{% endblock %}