{% extends "dashboard/base.html" %}
{% block title %}Edit Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row">
    <div class="span5">
      <h3>Edit "{{ user.username }}" Profile</h3>
      {% if user.is_authenticated %}
        <form id="useredit_form" method="post"
              action="{% url 'edit_userprofile' user.username %}"
              enctype="multipart/form-data">
          {% csrf_token %}
          {{ userform|crispy }}
          {% for community in member_communities %}
           <li><p><a href="{{ community.get_absolute_url }}">{{ community.name }}</a></p>
           <a href="{% url 'leave_community' community.slug %}">Leave Community</a></li> 
          {% endfor %}
          {% for join_request in join_requests %}
            <li><p><a href="{{ join_request.community.get_absolute_url }}">{{ join_request.community.name }}</a></p>
            <a href="{% url 'cancel_community_join_request' join_request.community.slug %}">Cancel 
              Request</a></li> 
          {% endfor %}
          <input type="submit" name="submit" value="Save"/>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
