{% extends "dashboard/base.html" %}
{% load guardian_tags %}
{% block title %}News{% endblock %}
{% block content %}
<div>
  <h3>News</h3>
  <div>
    {% if News %}
      <ul>
        {% for news in News %}
          <li><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Currently there is no news for this community</p>
    {% endif %}
    {% if user.is_authenticated and user.is_active %}
    {% get_obj_perms request.user for community as "community_perms" %}
    {% if "add_community_news" in community_perms %}
      <a href="{% url 'add_news' community.slug %}">Add News</a>
    {% endif %}
    {% endif %}
   </div>
</div>
{% endblock %}
