{% extends "dashboard/base.html" %}
{% load guardian_tags %}
{% block title %}resource{% endblock %}
{% block content %}
 <style type="text/css">
        .time { font-size: 0.8em; margin-top: 2px; }
        .body { font-size: 1.1em; margin-top: 2px; }
        .title {
            font-size: 1.4em; margin-top: 20px; border-bottom: 1px solid #ccc;
            padding-left: 4px; margin-left: 5px;
        }
    </style>
<div>
  <h3>Resources</h3>
  <div>
    {% if Resources %}
      <ul>
        {% for resource in Resources %}
          <div class="title"><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></div>
          <ul>
            <div class="time">{{ resource.date_modified }}</div>
            <div class="body">{{ resource.content|linebreaks }}</div>
          </ul>
        {% endfor %}
      </ul>
    {% else %}
      <p>Currently there is no resource for this community</p>
    {% endif %}
    {% if user.is_authenticated and user.is_active %}
    {% get_obj_perms request.user for community as "community_perms" %}
    {% if "add_community_resource" in community_perms %}
      <a href="{% url 'add_resource' community.slug %}">Add resource</a>
    {% endif %}
    {% endif %}
   </div>
</div>
{% endblock %}
