{% extends "dashboard/base.html" %}
{% load guardian_tags %}
{% block title %}Resources{% endblock %}
{% block content %}
<div>
  <h3>Resources</h3>
  <div>
    {% if Resources %}
      <ul>
        {% for resource in Resources %}
          <li><a href="{{ resource.get_absolute_url }}">{{ resource.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Currently there are  no resources for this community</p>
    {% endif %}
    {% if user.is_authenticated and user.is_active %}
    {% get_obj_perms request.user for community as "community_perms" %}
    {% if "add_community_news" in community_perms %}
      <a href="{% url 'add_resource' community.slug %}">Add Resources</a>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
