{% extends "base.html" %}

{% load dashboard_extras %}
{% load guardian_tags %}

{% block head %}
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">
    stLight.options({publisher: "340b978f-3a42-4f70-bb42-d639f57af637",
      doNotHash: true,
      doNotCopy: false,
      hashAddressBar: false,
      st_url: "{% url 'view_resource' resource.community.slug resource.slug %}"
    });
  </script>
{% endblock %}

{% block title %} - {{ resource.community }} - {{ resource.title }}{% endblock %}
{% block content %}
  <div class="spacer"></div>
  <h2>{{ resource.title }}</h2>
  <p class="meta-main">{{ resource.date_modified }} | <a
      href="{% url 'view_user_profile' resource.author.user.username %}">{{ resource.author }}</a>
  </p>

  <div class="row">
  <div class="col-md-9">
    <hr>
    <div class="body">{{ resource.content|safe }}</div>
    {% if resource.tags %}
      <ul class="tag-pills">
        {% if resource.resource_type %}
          <li><span
              class="label label-primary">{{ resource.resource_type }}</span>
          </li>
        {% endif %}
        {% for tag in resource.tags.all %}
          <li><span class="label label-info">{{ tag }}</span></li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="social-media">
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
    </div>
    <hr>
    <div class="comments">
      {% include 'dashboard/comments.html' with posting=resource type='resource' %}
    </div>
  </div>

    <div class="col-md-3">
      <div class="sidebar-module sidebar-community">
        <h4>Resource actions</h4>
        <ol class="list-unstyled">
          {% if user.is_authenticated and user.is_active %}
            {% get_obj_perms request.user for resource.community as "community_perms" %}
            {% if "change_community_resource" in community_perms %}
              <li><a href="{% url 'edit_resource' resource.community.slug resource.slug %}">Edit</a>
              </li>
            {% endif %}
            {% if "delete_community_resource" in community_perms %}
              <li><a href="{% url 'delete_resource' resource.community.slug resource.slug %}">Delete</a>
              </li>
            {% endif %}
            {% if user == news.community.community_admin.user or user.is_superuser %}
              {% if resource.is_monitor %}
                <li><a href="{% url 'unmonitor_resource' resource.community.slug resource.slug %}">Unwatch</a></li>
              {% else %}
                <li><a href="{% url 'monitor_resource' resource.community.slug resource.slug %}">Watch</a></li>
              {% endif %}
            {% endif %}
          {% endif %}
          <li><a href="{% url 'show_community_resources' resource.community.slug %}">
            Back to {{ resource.community }} resources</a></li>
        </ol>
      </div>
    </div>
  </div>

{% endblock %}

{% block community_name %}{{ resource.community }}{% endblock %}
