{% extends "base.html" %}

{% load dashboard_extras %}
{% load guardian_tags %}
{% load comments %}

{% block title %} - {{ resource.community }} - {{ resource.title }}{% endblock %}
{% block content %}
  <div class="spacer"></div>
  <h2>{{ resource.title }}</h2>
  <p class="meta-main">{{ resource.date_modified }} | <a
      href="{% url 'view_user_profile' resource.author.user.username %}">{{ resource.author }}</a>
  </p>

  <div class="row">
  <div class="col-md-9">
    <hr>
    <div class="body">{{ resource.content|safe }}</div>
    {% if resource.tags %}
      <ul class="tag-pills">
        {% if resource.resource_type %}
          <li><span
              class="label label-primary">{{ resource.resource_type }}</span>
          </li>
        {% endif %}
        {% for tag in resource.tags.all %}
          <li><span class="label label-info">{{ tag }}</span></li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="social-media"></div>
    <hr>
    <div class="comments">
      {% include 'dashboard/comments.html' with posting=resource type='resource' %}
    </div>
  </div>

    <div class="col-md-3">
      <div class="sidebar-module sidebar-community">
        <h4>Resource actions</h4>
        <ol class="list-unstyled">
          {% if user.is_authenticated and user.is_active %}
            {% get_obj_perms request.user for resource.community as "community_perms" %}
            {% if "change_community_resource" in community_perms %}
              <li><a href="{% url 'edit_resource' resource.community.slug resource.slug %}">Edit</a>
              </li>
            {% endif %}
            {% if "delete_community_resource" in community_perms %}
              <li><a href="{% url 'delete_resource' resource.community.slug resource.slug %}">Delete</a>
              </li>
            {% endif %}
          {% endif %}
          <li><a href="{% url 'show_community_resources' resource.community.slug %}">
            Back to {{ resource.community }} resources</a></li>
        </ol>
      </div>
    </div>
  </div>

{% endblock %}

{% block community_name %}{{ resource.community }}{% endblock %}
