{% extends "dashboard/base.html" %}
{% load dashboard_extras %}
{% load guardian_tags %}
{% block title %}News{% endblock %}
{% block content %}
<div>
  <h3>News</h3>
  <div>
    {% for name, value in news.get_fields %}
      {% with "id slug community is_public tags" as unnecessary_fields %}
        {% if value and name not in unnecessary_fields %}
          <p>{% verbose_name news name %}: {{ value|urlize }}</p>
        {% endif %}
      {% endwith %}
    {% endfor %}
    {% if news.tags.all %}
      <p>Tags</p>
      <ul>
        {% for tag in news.tags.all %}
          <li>{{ tag.name }} </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if user.is_authenticated and user.is_active %}
    {% get_obj_perms request.user for news.community as "community_perms" %}
    {% if "change_community_news" in community_perms %}
    <a href="{% url 'edit_news' news.community.slug  news.slug %}">Edit</a>
    {% endif %}
    {% if "delete_community_news" in community_perms %}
    <a href="{% url 'delete_news' news.community.slug  news.slug %}">Delete</a>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
