{% extends "base.html" %}

{% block title %} - {{ community }}{% endblock %}

{#{% load guardian_tags %}#}
{% block content %}
  <h1>{{ community }}</h1>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <ul class="nav nav-tabs">
        {% for page in pages %}
          <li class="{% if active_page == page.slug %} active {% endif %}">
            <a href="{% url 'view_page' page.community.slug page.slug %}">{{ page.title }}</a>
          </li>
        {% endfor %}
        <li class="{% if active_page == 'news' %} active {% endif %}"><a
            href="{% url 'show_community_news' community.slug %}">News</a>
        </li>
        <li class="{% if active_page == 'resources' %} active {% endif %}">
          <a href="{% url 'show_community_resources' community.slug %}">Resources</a>
      </ul>

      {% block community_page %}
      {% endblock %}
    </div>
    <div class="col-md-3">
      {% include "community/community_actions_sidebar.html" %}
      {% block extra_sidebar %}{% endblock %}
      {% include 'community/join_button.html' %}
    </div>
  </div>
{% endblock %}

{% block community_name %}{{ community }}{% endblock %}
